/* SCROLL fade up from bottom */

.a-up {
  opacity: 0; /* Start hidden */
  transform: translateY(20px); /* Start slightly below its original position */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth animation */
}

.a-up.animate {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Return to original position */
}

/* fade in left */

.a-left {
  opacity: 0; /* Start invisible */
  transform: translateX(-20px); /* Start slightly to the left */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}

.a-left.animate {
  opacity: 1; /* Fully visible */
  transform: translateX(0); /* Return to original position */
}

/* fade in right */

.a-right {
  opacity: 0; /* Start invisible */
  transform: translateX(20px); /* Start slightly to the right */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}

.a-right.animate {
  opacity: 1; /* Fully visible */
  transform: translateX(0); /* Return to original position */
}

/* message banner */

.message-banner {
  position: relative;
  width: 100%; /* Full width of the screen */
  overflow: hidden; /* Hide overflow to keep the text inside the banner */

  white-space: nowrap; /* Prevent wrapping */
}

.message-content {
  display: inline-block; /* Keep the text in one line */
  white-space: nowrap; /* Prevent line breaks */
  animation: scroll-message 30s linear infinite; /* Infinite scrolling animation */
}

@keyframes scroll-message {
  0% {
    transform: translateX(0); /* Start fully visible */
  }
  100% {
    transform: translateX(-100%); /* Move all the way left */
  }
}

.message-banner h6 {
  display: inline-block;
  margin: 0;
  font-size: 13px;
  font-style: italic;
  color: #333;
  padding-right: 50px; /* Add spacing between repetitions */
}
