/* Google fonts code

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.bodoni-moda-<uniquifier> {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}


*/

/* Variables */

:root {
  --title-font: "bodoni Moda", serif;

  --heading: "Playfair Display", serif;

  --paragraph: "Montserrat", sans-serif;

  --main-title: "Yeseva One", serif;

  --beige: #e3dcca;
  --darkgrey: #6b5d58;
  --lightpurple: #dccfec;
}

h1 {
  font-family: var(--main-title);
  font-weight: 700;
}

p {
  font-family: var(--paragraph);
}

h3 {
  font-family: var(--paragraph);
  font-weight: 400;
  font-size: 20px;
}

.container {
  text-align: center;
  width: auto;
  margin-top: 20px;
  margin-bottom: 80px;
}

/* INDEX PAGE */

.hero h5 {
  font-family: "Yeseva One", serif;
  font-size: 70px;
  text-align: left;
  margin-top: 30px;
}

.hero h3 {
  text-align: left;
  margin-top: 20px;
}

.hero-services {
  margin: 0 auto;
  text-align: center;
  color: white;
  background-color: #dccfec;
  padding: 80px;

  width: auto;
}

.hero-services h1 {
  font-family: var(--heading);
  font-style: italic;
  font-size: 70px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  line-height: 1.5;
}

.hero-services section {
  margin: 6px;
}

.hero-services span {
  border: 1px solid white;
  border-radius: 33px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  margin-top: 20px;
  font-family: var(--paragraph);
}

.grid {
  display: grid;
  grid: auto / repeat(6, 1fr);
  gap: 8px;
}

.griditem {
  padding: 1rem;
  font-size: 17px;
  text-align: center;
  grid-column: span 2;
  border: 1px solid white;
  border-radius: 33px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  margin-top: 20px;
  font-family: var(--paragraph);
}

.grid .griditem:nth-child(5n),
.grid .griditem:nth-child(5n-1) {
  grid-column: span 3;
}

.hero-mission {
  font-family: var(--paragraph);
  font-size: 17px;
  font-style: italic;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* CONTACT PAGE FORM */

form {
  text-align: center;
  margin: 0 auto;
  border: 1px solid pink;
  border-radius: 33px;
  width: 300px;
  padding-bottom: 20px;
  margin-top: 20px;
}

/* FOOTER */

footer .footer-logo {
  display: block;
  width: 30%;
  margin: 0 auto;
}

footer {
  background-color: #f8f9fa;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-section {
  margin-left: 5px;
}

@media (max-width: 900px) {
  body {
    max-width: auto;
  }
  .hero-services .grid {
    grid-template-columns: 1fr;
  }

  section span {
    display: block;
    width: 250px;
    text-align: center;
    margin: 0 auto;
  }

  section {
    margin: 0 auto;
    text-align: center;
    width: 300px;
  }

  .footer-logo {
    width: 100px;
  }

  .footer-section {
    margin-top: 15px;
    margin-left: 5px;
  }
}
