/*

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

.imperial-script-regular {
  font-family: "Imperial Script", serif;
  font-weight: 400;
  font-style: normal;
}


}

*/

/* Variables */

:root {
  --heading: "Playfair Display", serif;

  --paragraph: "Montserrat", sans-serif;

  --main-title: "Yeseva One", serif;

  --logo-font: "League Spartan", sans-serif;

  --script: "Imperial Script", serif;

  --border: 1px solid white;

  --darkgrey: #6b5d58;
  --lightpurple: #dccfec;
  --beige: #f1e6e0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1 {
  font-family: var(--main-title);
  font-weight: 900;
}

p {
  font-family: var(--paragraph);
}

h3 {
  font-family: var(--paragraph);
  font-weight: 400;
  font-size: 20px;
}

.container {
  text-align: center;
  width: auto;
  margin-top: 20px;
}

/* MESSAGE BANNERS */

.message-banner {
  background-color: var(--beige);
  padding: 10px;
}

.message-banner h6 {
  font-size: 15px;
}

.white-banner {
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  background-color: white;
}

.black-banner {
  background-color: black;
}

.black-banner .message-content {
  color: white;
}

/* INDEX PAGE */

.hero h1 {
  font-family: var(--logo-font);
  font-size: 70px;
  text-align: left;
  margin-top: 30px;
  font-weight: 800;

  line-height: 1;
}

.hero h3 {
  text-align: left;
  margin-top: 20px;
  font-size: 17px;
}

.hero {
  text-align: left;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 15px;
}

.hero .card-btn {
  margin-top: 40px;
  border: 1px solid #000000;
  padding-left: 10px;
  padding-right: 10px;
  width: 250px;
}

.hero-services {
  margin: 0 auto;
  text-align: center;
  color: black;
  background-color: #dccfec;
  padding: 80px;
  width: auto;
}

.hero-services h1 {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 25px;
  line-height: 0;
}

.hero-services h4 {
  font-family: var(--paragraph);
  font-size: 13px;
  font-weight: 500;
  margin-top: 0;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.hero-link {
  text-decoration: none;
}

.hero-services section {
  margin: 6px;
}

.hero-services span {
  border: 1px solid white;
  border-radius: 33px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  margin-top: 20px;
  font-family: var(--paragraph);
}

.grid {
  display: grid;
  grid: auto / repeat(6, 1fr);
  gap: 8px;
}

.griditem {
  padding: 1px;
  font-size: 13px;
  text-align: center;
  grid-column: span 2;
  border: 1px solid white;
  border-radius: 33px;
  padding: 11px;
  padding-left: 11px;
  padding-right: 11px;
  margin: 10px;
  margin-top: 20px;
  font-family: var(--paragraph);
}

.griditem:hover {
  transform: scale(1.1);
  transition: all 1.1s;
}

.grid .griditem:nth-child(5n),
.grid .griditem:nth-child(5n-1) {
  grid-column: span 3;
}

.hero-mission {
  font-family: var(--paragraph);
  font-size: 17px;
  font-style: italic;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.hero-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.hero-about .hero-about-left {
  align-content: stretch;
}

.hero-about .hero-about-right {
  align-self: center;
  margin-right: 20px;
}

.hero-about-right p {
  font-size: 15px;
}

.hero-about-right h1 {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 25px;
}

.hero-about-right p {
  margin-bottom: 20px;
}

.hero-about-right .card-btn {
  border: 1px solid #000000;
  margin-top: 25px;
}

details {
  text-align: center;
}

details summary:hover {
  background-color: rgba(220, 207, 236, 0.8);
}

.top {
  background-color: rgba(220, 207, 236, 0.3);
}

.middle {
  background-color: rgba(220, 207, 236, 0.6);
}

.bottom {
  background-color: rgba(220, 207, 236, 0.9);
}

details > summary span.icon {
  width: 40px;
  height: 30px;
  transition: all 0.3s;
  align-self: center;
  margin-left: end;
}

details[open] summary span.icon {
  animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    transform: rotate(0);
    transform-origin: right;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: right;
  }
}

details summary {
  display: flex;
  cursor: pointer;
  padding-top: 15px;
}

summary::-webkit-details-marker {
  display: none;
}

summary h5 {
  font-family: var(--title-font);
  align-self: center;
  margin-left: 20px;
  font-size: 17px;
}

summary span {
  padding-left: 40px;
}

details {
  font-size: 15px;
}

.dropdown-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  align-items: center;
}

.dropdown-info p {
  font-size: 11px;
  padding: 10px;
}

.dropdown-info iframe {
  margin-top: 35px;
}

.web-dropdown {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dropdown-info h2 {
  font-size: 12px;
  border: 1px solid black;
  border-radius: 33px;
  padding: 5px;
  font-family: var(--paragraph);
  margin: 0 auto;
  font-weight: 600;
  width: 150px;
  margin-top: 15px;
}

.border-btm {
  border-bottom: 1px solid #000000;
}

.process-section {
  padding: 20px;
  background-color: var(--lightpurple);
}

.process-section h5 {
  font-family: var(--paragraph);
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.process-section h4 {
  font-family: var(--paragraph);
  font-size: 15px;
  font-weight: 300;
}

.process-section h2 {
  font-family: var(--paragraph);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.process-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.process-grid h2 {
  font-family: var(--paragraph);
}

.process-grid h4 {
  font-size: 13px;
}

.process-item {
  width: 250px;
  text-align: center;
  border: 1px solid white 0.2;
  border-radius: 40px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.collab-banner {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  gap: 7px;
  margin: 0 auto;
  justify-items: center;
  justify-content: center;
  align-content: space-evenly;
  align-items: center;
  background-color: #f1e6e0;
  max-width: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.banner-card img {
  border: 1px solid white;
  border-radius: 40px;
}

.banner-card {
  border: 1px solid white;
  border-radius: 40px;
  width: 250px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.banner-text {
  padding: 30px;
}

.banner-text p {
  font-size: 13px;
  padding-bottom: 15px;
  padding-top: 10px;
}

.banner-card button {
  border: 1px solid white;
  border-radius: 33px;
  padding: 7px;
  font-family: var(--paragraph);
  font-size: 13px;
  line-height: 1.5;
  font-weight: 600;
  width: 120px;
  color: var(--darkgrey);
}

/* CONTACT PAGE / FORM */

.contact {
  width: max-auto;
  text-align: center;
  margin-top: 40px;
}

.contact h1 {
  margin-bottom: 33px;
}

.contact h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 33px;
}

form {
  text-align: center;
  margin: 0 auto;
  background-color: var(--beige);
  border-radius: 33px;
  max-width: 1000px;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

textarea {
  width: 600px;
}

.form-line {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.form-btn {
  border: 1px solid white;
  border-radius: 33px;
  padding: 7px;
  font-family: var(--paragraph);
  font-size: 14px;
  font-weight: 600;
  width: 120px;
}

form .form-btn {
  margin-top: 40px;
}

.fs-label {
  display: block;
  margin-top: 20px;
}

.fs-input,
.fs-textarea {
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.fs-input {
  width: 400px;
}

.cursive {
  font-size: 70px;
  font-family: var(--script);
}

.bold {
  font-size: 40px;
  font-family: var(--logo-font);
  font-weight: 800;
}

.grid-team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-left: 20px;
  align-items: center;
}

.grid-team h1 {
  text-align: center;
}

.grid-team p {
  font-size: 13px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.grid-team h3 {
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

.grid-team form {
  margin-top: 60px;
}

/* SERVICES PAGE */

.services h5 {
  font-size: 17px;
}

.services h3 {
  font-size: 13px;
}

.services h1 {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 60px;
  padding-bottom: 0px;
}

.package-img {
  max-width: 20%;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 10px;
}

.package-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 5px;
  justify-content: space-evenly;
  align-content: space-evenly;
  gap: 10px;
}

.card-btn {
  border: 1px solid white;
  border-radius: 33px;
  padding: 7px;
  font-family: var(--paragraph);
  font-size: 15px;
  font-weight: 600;
  width: 200px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px 0px;
}

.card-text {
  font-size: small;
}

.card-body h5 {
  font-size: 17px;
}

.list-group-item {
  font-size: small;
}

.services {
  padding: 30px;
}

.services .card-btn {
  width: 200px;
  font-size: 12px;
  padding: 7px;
  border: 1px solid var(--lightpurple);
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
  margin-bottom: 20px;
}

.project-card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 20px -20px;
  margin-bottom: 20px;
}

.project-card:hover {
  transform: scale(1.1);
  transition: all 1.5s;
}

.fine-print {
  font-size: 12px;
  margin-bottom: 30px;
}

.service-menu {
  background-color: var(--lightpurple);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 5px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.service-menu-2 {
  background-color: var(--lightpurple);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 5px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.service-menu h1 {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 0px;
}

.service-menu h5 {
  font-size: 15px;
  margin-bottom: 40px;
}

.service-menu h3 {
  font-size: 13px;
}

.service-menu-2 h1 {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 0px;
}

.service-menu-2 h5 {
  font-size: 15px;
  margin-bottom: 40px;
}

.service-menu-2 h3 {
  font-size: 13px;
}

.itgirl-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.itgirl-section .itgirl-left {
  align-content: stretch;
}

.itgirl-section .itgirl-right {
  align-self: center;
  margin-right: 20px;
}

.itgirl-right h1 {
  font-size: 30px;
}

.itgirl-right h2 {
  font-size: 25px;
  padding-bottom: 10px;
  font-family: var(--script);
}

.itgirl-right p {
  font-size: 15px;
}

.month-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.month-card {
  text-align: center;
  border: 1px solid white 0.2;
  border-radius: 40px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.month-card h5 {
  margin-bottom: 15px;
}

.month-card h3 {
  font-size: 12px;
}

.month-card h4 {
  font-size: 13px;
  font-style: italic;
  margin-top: 15px;
}

/* PORTFOLIO */
.port-hero {
  background-color: var(--lightpurple);
  padding-top: 30px;
  padding-bottom: 7px;
}

.port-hero h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  font-family: var(--paragraph);
  font-weight: 200;
  margin-bottom: 60px;
}

.port-text {
  max-width: 600px;
}
.port-text h3 {
  font-size: 13px;
}

.ruach-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  margin: 0 auto;
  justify-items: center;
}

.team-grid {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.team-grid .icons {
  padding-top: 0px;
}

.team-grid h3 {
  font-size: 13px;
}

.team-grid h2 {
  font-size: 15px;
  font-family: var(--paragraph);
  font-weight: 500;
}

.ruach-pics {
  max-width: 250px;
}

.styled-section {
  display: block;
  margin: 0 auto;
}

.styled-pics {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

/* ABOUT */

.about-container {
  text-align: left;
  margin: 0 auto;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about-pic {
  margin-bottom: 20px;
}

.meet-kelly {
  max-width: 600px;
  background-color: var(--lightpurple);
  padding: 50px;
  margin: 0 auto;
}

.meet-kelly h3 {
  font-family: var(--script);
  font-weight: 400;
  font-size: 60px;
  font-style: italic;
  margin-bottom: 0;
}

.meet-kelly h5 {
  font-size: 13px;
  font-weight: 600;
}

.meet-kelly p {
  font-size: 13px;
}

.meet-kelly .fine-print {
  font-size: 12px;
}

.meet-nicole {
  background-color: var(--lightpurple);
  padding: 50px;
  margin: 0 auto;
  max-width: 1000px;
}

.meet-nicole h3 {
  font-family: var(--script);
  font-weight: 400;
  font-size: 60px;
  font-style: italic;
  margin-bottom: 0;
}

.meet-nicole h5 {
  font-size: 13px;
  font-weight: 600;
}

.meet-nicole p {
  font-size: 13px;
}

.meet-nicole .fine-print {
  font-size: 12px;
}

.meet-lara {
  max-width: 1000px;
  background-color: var(--beige);
  padding: 50px;
  padding-bottom: 0;
  margin: 0 auto;
}

.meet-lara h3 {
  font-weight: 400;
  font-family: var(--script);
  font-size: 60px;
  font-style: italic;
  margin-bottom: 0;
}

.meet-lara h5 {
  font-size: 13px;
  font-weight: 600;
}

.meet-lara p {
  font-size: 13px;
}

.meet-lara .fine-print {
  font-size: 12px;
}

.meet-lara .about-pic {
  margin-bottom: 0;
}

.itgirl-about-logo {
  margin: 0 auto;

  display: block;
}

/* FOOTER */

footer .footer-logo {
  display: block;
  max-width: 60px;
  margin: 0 auto;
  cursor: pointer;
}

footer {
  background-color: #f8f9fa;
  padding-top: 30px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 4px;
}

.footer-center {
  justify-content: space-around;
  justify-items: center;
  margin: 0 auto;
  align-content: space-evenly;
  align-items: center;
  place-self: center;
}

.footer-left {
  align-items: center;
}

.footer-grid h2 {
  text-decoration: none;
  font-size: 13px;
  color: var(--darkgrey);
  align-self: flex-start;
  cursor: pointer;
}

.footer-grid h6 {
  font-size: 10px;
}

.icons {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 20px;
}

.icons a {
  text-decoration: none;
  color: #000000;
}

.icons a:hover {
  color: var(--lightpurple);
}

/* MEDIA QUERIES */

@media (max-width: 1100px) {
  .package-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
  }

  .itgirl-right p {
    font-size: 13px;
    padding-right: 20px;
  }

  .hero-about-right h1 {
    font-size: 30px;
  }

  .hero-about-right p {
    margin-bottom: 0;
    font-size: 13px;
  }

  .hero-about-right .card-btn {
    font-size: 14px;
  }

  .footer-center .icons {
    margin-left: 35px;
  }
}

/* ipad */
@media (max-width: 1024px) {
  .hero-services h1 {
    text-align: center;
    font-size: 50px;
  }

  .hero h3 {
    font-size: 15px;
  }

  .griditem {
    font-size: 13px;
    margin-top: 10px;
  }

  .process-grid {
    justify-content: center;
  }

  .itgirl-logo {
    width: 20%;
  }

  section span {
    display: block;
    width: 250px;
    text-align: center;
    margin: 0 auto;
  }

  section {
    margin: 0 auto;
    text-align: center;
    width: 300px;
  }

  .itgirl-right p {
    font-size: 12px;
  }

  .ruach-pics {
    max-width: 150px;
  }

  .footer-logo {
    width: 100px;
  }

  .fs-input,
  .fs-textarea {
    width: 300px;
  }
}

/* iphone */
@media (max-width: 600px) {
  .package-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }

  .service-menu-2 h5 {
    font-size: 12px;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .service-menu h5 {
    font-size: 11px;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .process-grid {
    gap: 5px;
  }

  .process-item {
    width: 200px;
  }

  .process-item h2 {
    font-size: 14px;
    font-weight: 500;
  }

  .process-item h4 {
    font-size: 11px;
  }

  .hero-services .grid {
    grid-template-columns: 1fr;
  }

  .hero-services h4 {
    font-size: 12px;
  }

  .hero h3 {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .hero .card-btn {
    font-size: 13px;
  }

  .hero-about {
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }

  .hero-about-left {
    align-self: center;
    margin-left: 40px;
  }

  .hero-about-right {
    align-self: center;
    margin-left: 40px;
  }

  .hero-about .card-btn {
    font-size: 12px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .process-grid {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
  }

  .sm-hide {
    display: none;
  }

  .itgirl-section {
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    margin-top: 20px;
  }

  .itgirl-right {
    align-self: center;
    margin-left: 40px;
    margin-bottom: 0px;
  }

  .itgirl-left {
    align-self: center;
    margin-left: 40px;
  }

  .itgirl-logo {
    width: 40%;
  }

  .month-grid {
    grid-template-columns: 1fr 1fr;
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer-center h6 {
    font-size: 8px;
  }

  details {
    font-size: 13px;
  }

  details > summary span.icon {
    margin-left: auto;
  }

  .dropdown-info {
    grid-template-columns: 1fr;
  }

  .collab-banner {
    grid-template-columns: 1fr 1fr;
  }

  .collab-banner .hang-right {
    justify-items: flex-end;
    text-align: right;
  }

  .banner-text h3 {
    font-size: 15px;
    font-weight: 500;
  }

  .banner-text p {
    font-size: 13px;
  }

  .form-line {
    grid-template-columns: 1fr;
  }

  .fs-input,
  .fs-textarea {
    width: 300px;
  }

  .about-grid {
    display: block;
  }

  .meet-lara .about-pic {
    margin-bottom: 20px;
  }

  .ruach-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }

  .ruach-pics {
    max-width: 200px;
  }

  .footer-center .icons {
    margin-left: 25px;
  }
}
